---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-800 border-t border-gray-700 py-8 mt-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <p class="text-gray-400">
      {currentYear} {t('footer.copyright')}
    </p>
  </div>
</footer>
